<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>書籍検索</title>
</head>
<body>
  <h1>書籍検索</h1>
  <!-- 検索ボタンの追加 -->
  <form action="/search" method="get">
    書籍コード:<input type="number" name="code" th:value="${code}">
    <button>検索</button>
  </form>
  <!-- エラーメッセージ -->
  <div th:if="${message != null}" style="color: red;" th:text="${message}"></div>

  <!-- 問題5 書籍リストが空でないときだけテーブルを表示する -->
  <div th:if="${books != null and !books.isEmpty()}">
    <table border="1">
      <tr>
        <th>書籍コード</th>
        <th>書籍名</th>
        <th>値段</th>
        <th>著者</th>
        <!-- step4更新欄の追加 -->
         <th>更新</th>
         <!-- step6削除画面追加対応 -->
          <th>削除</th>
      </tr>
      <!-- 変数bookにbooksの値を連続で取得 -->
      <tr th:each="book : ${books}">
        <td th:text="${book.code}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.author}"></td>
        <td>
          <!-- 更新ボタンの作成 -->
          <form th:action="@{/edit}" method="get">
            <input type="hidden" name="code" th:value="${book.code}">
            <button>更新</button>
          </form>
        </td>
        <td>
          <!-- 削除ボタンの追加 -->
           <form th:action="@{/delete}" method="post">
            <input type="hidden" name="code" th:value="${book.code}">
            <button>削除</button>
           </form>
        </td>
      </tr>
    </table>
  </div>
  <a th:href="@{/add}">新規登録</a>
</body>
</html>